<%-include("header");-%>



<section id="about-us">
 <h3 >About Us</h3>

 <h5>About UOB</h5>
  <P>
    Founded by Datuk Wee Kheng Chiang, UOB was incorporated on 6 August 1935 as 
    the United Chinese Bank; the change of name was effected in 1965. The Bank 
    catered mainly to the Fujian community in its early years but over the past 
    decades, UOB has grown in strength and stature. Through a series of 
    acquisitions, it is now a leading bank in Asia. Besides Far Eastern Bank in 
    Singapore, UOB’s major banking subsidiaries in the region are United Overseas
     Bank (Malaysia), United Overseas Bank (Thailand), PT Bank UOB Indonesia and
      United Overseas Bank (China). Today, the UOB Group has a network of more 
      than 500 offices in 19 countries and territories in Asia Pacific, Western 
      Europe and North America
  </P>

  <h5>Our Business</h5>
  <p>
     UOB provides a wide range of financial services through its global network 
     of branches, offices, subsidiaries and associates: personal financial 
     services, private banking, commercial and corporate banking, investment 
     banking, corporate finance, capital market activities, treasury services, 
     futures broking, asset management, venture capital management, insurance and
      stockbroking services. In Singapore, UOB is a market leader in the credit 
      card and private residential home loan businesses. It is also a key player
       in loans to small and medium enterprises. Its asset management arm, UOB 
       Asset Management, is one of Singapore’s most awarded fund managers with a 
       growing regional presence. UOB is rated among the world’s top banks, with
        a rating of Aa1 from Moody’s and AA- from Standard & Poor’s 
        respectively.
  </p>

  <h5>Community Involvement</h5>
  <P>  
    UOB plays an active role in the community, focusing on children, education 
    and the arts. Its staff volunteerism programme was initiated in 2007. 
    Through the UOB Heartbeat Run/Walk, UOB has raised funds for its named 
    beneficiaries. UOB has also organised the prestigious Painting Of The
     Year Competition and Exhibition since 1982.
  </P>


</section>

 <%-include("footer");-%>
