
 <%-include("header");-%>
<body id="login-page">

<!-- 
<section id="login-form">
     <h4>Login form</h4>
    <form class="login-form" action="/login" method="post">
        <label for="">Username :</label> <br>
        <input type="text" placeholder="Username" name="username" id=""> <br>
        <label for="">Password :</label> <br>
        <input type="password" placeholder="Password" name="password" id="">
        <button class="btn btn-lg btn-primary" type="submit">Login</button>
    </form>

    <a href="">Forgot Your Password</a>

</section>
     -->

     <section id="result"  class="container">

        <div class="result-div">
            <h1>To Login,</h1>
            <p>Enter Your Pin Code</p>
            <input id="user"  type="text" placeholder="Username" itemtype="charles" required><br><br>
            <input id="pin" placeholder="Enter Password" required> <br>
            <button class="btn btn-lg btn-info btn-block" type="submit">Submit</button>
  
            <p id="demo"></p>
        </div>
  
    </section>

    <form action="" method="post">
        <h1>To Login,</h1>
        <p>Enter Your Pin Code</p>
        <input id="user"  type="text" placeholder="Username" itemtype="charles" required><br><br>
        <input id="pin" placeholder="Enter Password" required> <br>
        <button class="btn btn-lg btn-info btn-block" type="submit">Submit</button>

        <p id="demo"></p>
    </form>
  
  
    <!-- <script src="js/index.js" charset="utf-8"></script> -->


    <%-include("footer");-%>
