body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
   }
   a:hover{
    text-decoration: none;
  }
/* nav section */
a.navbar-brand{
    padding-right: 15rem;
}
.nav-item a{
padding: 0 10px;
}
.open-account a{  
    color:green;
    background-color: white;
    border: 1px solid green;
    box-sizing: border-box;
    padding:0 15px;
    margin-top: 3px;
}
.open-account a .nav-link{
    color: green;
}
.open-account a:hover{
    background-color: green;
    color: white !important;
}
ul li.open-account a{
    color: green !important;
}
ul li.open-account a:hover{
    color: white !important;
}
ul li.open-account a i:hover{
    color: white !important;
}

.nav-longin a{
    border: 1px solid green ;
    padding:5% 10%;
    background-color: green;
    color: white !important ;
}
.nav-longin{
    margin-left: 1rem;
}
/* row section */
.row{
    margin: 0;
    padding: 0;
  }
/* first-row section */
.Welcome-col h5{
    color: rgb(95, 144, 216);
    margin-left: 1rem;
    margin-top: 1rem;
}
.Login-col a{
    color: white !important;
    background-color: green;
    padding: 10px 5%;
    float: right;
}

/* carousle-first section */


/* open-online-account section */
#open-online-account{
    margin: 2rem 0 0 5rem;
    min-height: 350px;
    width: 80%; 
    background-color: rgb(48, 117, 48);
}
#open-online-account H5{
    color: white;
    padding: 30px 0 0 17%;
}
#open-online-account h6{
    margin: 5% 0 0 35%;
    color: white;
}

#open-online-account table i{
    color: white;
    font-size: 2rem;
    padding: 0;
    margin: 15% 0 0 8rem;
}
#open-online-account table h5{
    margin-left: 5rem;
}

/* open-account-row section */

#open-account-row .col-md-3{
     margin: 5% 3%;
     padding: 10px;
    border: 1px solid black;
}
#open-account-row .col-md-3 h5{
    color: blue;
}
#open-account-row .col-md-3 a{
    width: 50%;
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 2rem;
}
#open-account-row .col-md-3 h6{
    font-weight: 900;
}
#open-account-row  .cccc{
    height: 100%;
    padding-bottom: 20px;
}

/* back-to-top section */
.back-to-top{
   margin-left: 45%;
}

/* footer section */
#footer .row{
    background-color: black;
    padding: 20px;
}

.contact-form{
    color: white;
}
.contact-form button{
    margin-left:90%;
}
.footer-iterm I{
    color: white;
    font-size: 25PX;
    margin: 5%;
}


/* login page section */
#login-page{
    background-color: rgb(238, 232, 225);
}
#login-form{
    margin: 15% 35%;
    width: 30%;
}
.login-form{
    border:1px solid white ;
    background-color: rgb(252, 252, 244);
    padding: 10px;
}
.login-form input{
    width: 100%;
    height: 2.5rem;
}
.login-form button{
    margin: 5% 0 2% 33%;
    
}
#login-form a{
    margin-left: 45%;
    margin-top: 20px;
} 
#login-form h4{
    text-align: center;
}
#about-us h3{
    margin-top: 10%;
    text-align: center;
}
#about-us p{
    width: 80%;
    padding: 5px 0 0 15px;
}
#about-us h5{
    padding-left: 5px;
    color: blue;
}


/* login section */

 /* Result  */
 #result {
    padding: 3%;
text-align: center;
margin-top: 3rem;
  }


  #result h1 {
    font-size: 2rem;
  }
  
  #result p {
    font-size: 1.1rem;
  }
   
  input#pin {
    padding: 0;
    margin-bottom: 4%;
    width: auto;
  }
  
  button.btn{
    width: auto;
    margin-left: 45%;
  }
 